.clock {
    --hrangle: 0deg;
    --minangle: 0deg;
    --secangle: 0deg;
    margin: auto;
    position: relative;
    width: 19.5em;
    height: 19.5em;
    border: 1px solid black;
    border-radius: 50%;
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    transform: rotate(var(--angle));
}

.hour {
    width: 4px;
    height: 6em;
    background: black;
}

.minute {
    width: 2px;
    height: 8em;
    background: black;
}

.second {
    width: 1px;
    height: 9em;
    background: red;
}
